<div class="row information">

  <h1>Create a Team</h1>

  <%= form_for @team do |f| %>

    <p>
      <%= f.label :about %><br>
      <%= f.text_field :about %>
    </p>

    <hr>

    <%= f.submit 'Create Team', class: "button" %>
    <hr>
  <% end %>

  <%= link_to "Back", teams_path, class: "button tiny" %>
</div>
