<div class="row information">

  <h1>Create a Team</h1>

  <%= form_for @team do |f| %>

    <p>
      <%= f.label :about %><br>
      <%= f.text_field :about %>
    </p>

    <p>
      <%= f.label :rank %><br>
      <%= f.text_field :rank %>
    </p>

    <p>
      <%= f.label :primary_role %><br>
      <%= f.text_field :primary_role %>
    </p>

    <p>
      <%= f.label :secondary_role %><br>
      <%= f.text_field :secondary_role %>
    </p>
    <hr>

    <%= f.submit 'Create Team', class: "button" %>
    <hr>
  <% end %>

  <%= link_to "Back", root_path, class: "button tiny" %>
</div>
