<div class="row information">

  <h1>Create a Team</h1>

  <%= form_for @team do |f| %>

  <p>
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </p>

  <hr>
  <div id="create-team">
    <%= f.submit 'Create Team', class: "button", id: "create-team-button" %>
  </div>
  <hr>
  <% end %>

  <div id="back">
    <%= link_to "Back", teams_path, class: "button tiny", id: "back-button" %>
  </div>
</div>
