<div class="row information">
  <h1 style="text-align: center;"><%= @team.user.summoner_name %>'s Team</h1>
  <h2>Team Owner: <%= link_to "#{@team.user.summoner_name}", user_path %></h2>
  <h3><%= @team.rank %></h3>

  <p>
    <%= @team.about %>
  </p>

  <p>
    Primary Role: <%= @team.user.primary_role.capitalize %><br />
    Secondary Role: (<%= @team.user.secondary_role.capitalize %>)
  </p>

  <% if current_user == @team.user %>
    <%= link_to "Edit", edit_team_path, class: "button tiny edit" %>
    <%= link_to "Delete", team_path,
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this team?' },
          class: "button tiny delete" %><br>
  <% end %>

</div>
<hr>

<div class="row">
    <!-- <div class="large-offset-1 large-10 columns reviews"> -->
      <% if @comment %>
      <h2> All Comments For <%= @team.user.summoner_name %>'s Team </h2>
        <% @comments.each do |comment| %>
          <div class="title">

            <p>
              Written by: <%= link_to comment.user.username.capitalize,
                              user_path(comment.user), class: "user-prof-link" %>
            </p>
          </div>

          <article class="comment-body">
            <%= comment.body %><br><br>

            <% if comment.owner?(current_user) %>
              <%= link_to 'Edit', edit_team_comment_path(@team, comment),
                    class: "button tiny edit" %>
              <%= link_to 'Delete', team_comment_path(@team, comment),
                    method: :delete,
                    data: {confirm: 'Are you sure you want to delete comment?'},
                    class: "button tiny delete" %>
            <% end %>

          </article>
        <% end %>
      <% end %>
    <!-- </div> -->
  </div>
  <hr>

  <div class="row">
    <div class="large-offset-1 large-10 columns write">
    <h2>Write A Comment For <%= @team.user.summoner_name %>'s Team</h2>

    <% if current_user %>
      <%= form_for [@team, @comment] do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited
              this comment from being saved:</h2>
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <p>
            <%= f.label :body  %><br>
            <%= f.text_field :body %>
          </p>

          <%= f.submit 'Create Comment', class: "button" %>
        <% end %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'If you want to leave a comment, please log in.',
            new_user_session_path, class: "button alert center" %>
      <% end %>

      <%= link_to "Back", root_path, class: "button tiny" %>
    </div>
  </div>
</div>

<script src="http://localhost:35729/livereload.js"></script>
