<div class="row information">

  <h1>Create a Build</h1>

  <%= form_for @build do |f| %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :champion %><br>
      <%= f.text_field :champion %>
    </p>

    <p>
      <%= f.label :about %><br>
      <%= f.text_field :about %>
    </p>
    <p>
      <%= f.label :tips %><br>
      <%= f.text_field :tips %>
    </p>
    <hr>

    <% SummonerSpell.all.each do |spell| %>
    <div class="large-6 columns">
      <label></label>
      <input id="checkbox2" type="checkbox">
        <label for="checkbox2"><%= image_tag "spells/#{spell.image_name}.png" %></label>
        <%= spell.name %><br>
        <%= spell.description %>
    </div>
    <% end %>
    <hr>

    <% Rune.all.each do |rune| %>
      <% if rune.name.include? "Greater" %>

      <div class="large-6 columns">
        <label></label>
        <input id="checkbox2" type="checkbox">
          <label for="checkbox2"><%= image_tag "runes/#{rune.image_name}" %></label>
          <%= rune.name %><br>
          <%= rune.description %>
      </div>
      <% end %>
    <% end %>
    <hr>

    <% Item.all.each do |item| %>
    <div class="large-6 columns">
      <label></label>
      <input id="checkbox2" type="checkbox">
        <label for="checkbox2"><%= image_tag "items/#{item.image_name}" %></label>
        <%= item.name %><br>
        <%= item.description %>
    </div>
    <% end %>
    <hr>

    <% Mastery.all.each do |mastery| %>
    <div class="large-6 columns">
      <label></label>
      <input id="checkbox2" type="checkbox">
        <label for="checkbox2"><%= image_tag "masteries/#{mastery.image_name}" %></label>
        <%= mastery.name %><br>
        <%= mastery.description %>
    </div>
    <% end %>
    <hr>

    <%= f.submit 'Create Build', class: "button" %>
    <hr>
  <% end %>

  <%= link_to "Back", root_path, class: "button tiny" %>
</div>
