<div class="row information">
  <h1 style="text-align: center;"><%= @build.title %></h1>
  <h4>By: <%= @build.user.username %></h4>

  <h3><%= @build.champion %></h3>

  <p>
    <%= @build.about %>
  </p>

  <p>
    <%= @build.tips %>
  </p>

  <% if current_user == @build.user %>
    <%= link_to "Edit", edit_build_path, class: "button tiny edit" %>
    <%= link_to "Delete", build_path,
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this build?' },
          class: "button tiny delete" %><br>
  <% end %>

    <%= link_to 'Like', like_build_path,
          method: :put, class: "upvote button success tiny" %>

    <%= link_to 'Dislike', dislike_build_path,
          method: :put, class: "downvote button alert tiny" %><br>

  <%= "#{@likes} Upvotes / " %>
  <%= "#{@dislikes} Downvotes" %>
  <% if @likes > 0 %>
    <%= sprintf('%.0f', ((@likes.to_f / (@likes.to_f + @dislikes.to_f)) * 100)).to_s + '%' %>
  <% else %>
    <%= "100%" %>
  <% end %>


</div>
<hr>

<div class="row">
    <!-- <div class="large-offset-1 large-10 columns reviews"> -->
      <% if @comment %>
      <h2> All Comments For <%= @build.title %> </h2>
        <% @comments.each do |comment| %>
          <div class="title">

            <p>
              <em>Written by: <%= link_to comment.user.username,
                  user_path(comment.user) %></em>
            </p>
          </div>

          <article class="comment-body">
            <%= comment.body %><br><br>

            <% if comment.owner?(current_user) %>
              <%= link_to 'Edit', edit_build_comment_path(@build, comment),
                    class: "button tiny edit" %>
              <%= link_to 'Delete', build_comment_path(@build, comment),
                    method: :delete,
                    data: {confirm: 'Are you sure you want to delete comment?'},
                    class: "button tiny delete" %>
            <% end %>

          </article>
        <% end %>
      <% end %>
    <!-- </div> -->
  </div>
  <hr>

  <div class="row">
    <div class="large-offset-1 large-10 columns write">
    <h2>Write A Review For <%= @build.title %></h2>

    <% if current_user %>
      <%= form_for [@build, @comment] do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited
              this review from being saved:</h2>
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <p>
            <%= f.label :body  %><br>
            <%= f.text_field :body %>
          </p>

          <%= f.submit 'Create Comment', class: "button" %>
        <% end %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'If you want to leave a comment, please log in.',
            new_user_session_path, class: "button alert center" %>
      <% end %>

      <%= link_to "Back", root_path, class: "button tiny" %>
    </div>
  </div>
</div>
