<div class="user-show">
  <span style="color: rgba(0,0,0,0)">.</span>
  <div class="row information">

    <h1 id="user-show-header"><%= "#{@user.summoner_name}'s Profile" %></h1><br/>

    <aside class="large-4 columns user-sidebar">

      <!-- Displays stats box -->
      <div id="stat-results">
        <% if @stats && @stats.tier != "" %>
        <%= render "stats" %>
        <% end %>
      </div>

      <% if @bio %>
      <% @bios.each do |bio| %>
      <ul class="panel callout radius">
        Bio:
        <tag class="info-for-vcard"><%= bio.body %></tag>
      </ul>
      <div id="edit-delete-bio-buttons">
        <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_bio_path(@user, bio),
                class: "button tiny edit",
                id: "update-bio-button" %>
        <%= link_to 'Delete', user_bio_path(@user, bio),
                method: :delete,
                data: {confirm: 'Are you sure you want to delete bio?'},
                class: "button tiny delete",
                id: "delete-bio-button" %>
        <% end %>
      </div>
      <% end %>

      <% if current_user == @user && @bios.count < 1 %>
      <%= form_for [@user, @bio] do |f| %>
      <% if @bio.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bio.errors.count, "error") %>
          prohibited this bio from being saved:</h2>
        <ul>
          <% @bio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <p>
        <%= f.label :body, class: 'label' %><br>
        <%= f.text_area :body, rows: '10' %>
      </p>

      <%= f.submit 'Add Bio', class: "button tiny" %>
      <% end %>
      <% end %>
      <% end %>
    </aside>

    <% if @stats.nil? %>
      <%= render "create_stats" %>
    <% elsif @stats.present? %>
      <%= render "update_stats" %>
    <% end %>
    <hr>

    <div id="like-dislike-buttons">
      <% if current_user != @user %>
      <%= link_to 'Like', like_user_path,
    method: :put, class: "upvote button success tiny" %>

      <%= link_to 'Dislike', dislike_user_path,
    method: :put, class: "downvote button alert tiny" %><br>
      <% end %>
    </div>

    <div class="vote-score">
      <tag class="likes"><%= "#{@likes} Upvotes / " %></tag>
      <tag class="dislikes"><%= "#{@dislikes} Downvotes" %></tag>
      <%= " - #{@percentage_likes}" %>
    </div>

    <h3 id="user-teams-header"><%= "#{@user.summoner_name}'s Teams" %></h3>
    <ul id="user-teams-list">
      <% @user_teams.each do |team| %>
      <div class="panel radius">
        <li><%# link_to "#{team.user.stat.tier}", team_path(team) %><br>
          Created by:
          <%= "#{team.user.summoner_name}" %><br>
          <%= "  #{team[:about]}" %></li>
      </div>
      <% end %>
    </ul>

  </div>
</div>
