<div class="user-show"><span style="color: rgba(0,0,0,0)">.</span>
<div class="row information">

  <h1 style="text-align: center;"><%= "#{@user.summoner_name}'s Profile" %></h1><br />

  <aside class="large-4 columns user-sidebar">

      <ul class="panel callout radius">
        <li class="rank">
          Rank:  <tag class="info-for-vcard"><%= "#{@tier} #{@division}" %></tag>
        </li>
        <li class="primary_role">
          Primary Role:  <tag class="info-for-vcard"><%= "#{@user.primary_role.capitalize}" %></tag>
        </li>
        <li class="secondary_role">
          Secondary Role:  <tag class="info-for-vcard"><%= "#{@user.secondary_role.capitalize}" %></tag>
        </li>
        <li class="lolking_profile_link">
          <u><%= link_to "LoLKing Profile", @lolking_profile_url %></u>
        </li>
        <% if @user == current_user %>
          <li class="email">
            Email:  <tag class="info-for-vcard"><%= "#{@user.email}" %></tag>
          </li>
        <% end %>
      </ul>

      <% if @bio %>
        <% @bios.each do |bio| %>
          <ul class="panel callout radius">
            Bio: <tag class="info-for-vcard"><%= bio.body %></tag>
          </ul>
          <div id="edit-delete-bio-buttons">
            <% if @user == current_user %>
              <%= link_to 'Edit', edit_user_bio_path(@user, bio),
                class: "button tiny edit" %>
              <%= link_to 'Delete', user_bio_path(@user, bio),
                method: :delete,
                data: {confirm: 'Are you sure you want to delete bio?'},
                class: "button tiny delete" %>
            <% end %>
          </div>
        <% end %>

        <% if current_user == @user && @bios.count < 1 %>
          <%= form_for [@user, @bio] do |f| %>
            <% if @bio.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(@bio.errors.count, "error") %> prohibited
                this bio from being saved:</h2>
              <ul>
                <% @bio.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
              </div>
            <% end %>

            <p>
              <%= f.label :body, class: 'label' %><br>
              <%= f.text_area :body, rows: '10' %>
            </p>

            <%= f.submit 'Add Bio', class: "button tiny" %>
          <% end %>
        <% end %>
      <% end %>
  </aside>
  <hr>
  <div id="like-dislike-buttons">
    <% if current_user != @user %>
    <%= link_to 'Like', like_user_path,
          method: :put, class: "upvote button success tiny" %>

    <%= link_to 'Dislike', dislike_user_path,
          method: :put, class: "downvote button alert tiny" %><br>
    <% end %>

    <%= link_to "Back", teams_path, class: "button tiny" %>
  </div>
  <div class="vote-score">
    <tag class="likes"><%= "#{@likes} Upvotes / " %></tag>
    <tag class="dislikes"><%= "#{@dislikes} Downvotes" %></tag>
    <%= " - #{@percentage_likes}" %>
  </div>
</div>
</div>
