<%= form_for [@stat.user, @stat] do |f| %>
<% if @stat.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@stat.errors.count, "error") %> prohibited
    these stats from being saved:</h2>
    <ul>
      <% @stat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p id="stats-box">
    <%= f.hidden_field :tier %>
  </p>

  <div>
    <%= f.submit "Update Stats", class: "button", id: "update-stats-button" %>
  </div>
  <% end %>
